body {
    background-color: black;
}
#results-box {
    background-color: darkgray;
    text-align: center;
    margin: auto;
    width: 50%;
}
#search-form{
    text-align: center;
    padding-top: 50px;
    color: azure;
}

h1 {
    color: burlywood;
    text-align: center;
}
.checkbox {
    text-align:left;

}

ul{
    list-style-type: none;
}